#ns-custom-layer-box {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
}

#ns-wcapb-container {
	display: none;
	position: absolute;
	padding: 10px;
	background: #fff;
	color: #000;
	z-index: 9999;
}